@charset "UTF-8";

a:link {
	color:#1e50a2;
	text-decoration:none;
}

a:visited {
	color:#eb6238;
	text-decoration:none;
}

a:active {
	color:#e45e32;
	text-decoration:none;
}

body{
	background-color: #d6e9ca;
	color: #0d0015;
	font-family: arial, sans-serif, "メイリオ";
	font-size: large;
	margin-bottom: 0%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
}

frameset, frame {
	border:none;
}

h2 {
	color: #1c305c;
}

a.remove, dd.remove, dt.remove, p.remove, ul.remove {
	text-decoration: line-through;
}

ul li {
	position: relative;
}

ul li::after {
	content: '';
	display: block;
	position: absolute;
	top: .5em;
	left: -1em;
	width: 6px;
	height: 6px;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

ol, ul{
	list-style:none;
}

.acc {
  margin-bottom : 100px;
}

.acc dl{
  width : 400px;
}

.acc dt{
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #2b2b2b;

  border-left-width : 7px;
  border-left-style : solid;
  border-left-color : #47885e;

  padding-top : 2px;
  padding-left : 8px;
  padding-bottom : 2px;

  font-weight : bold;

  margin-bottom : 10px;

}

.acc dd{
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #2b2b2b;

  margin-bottom : 15px;
  padding-left : 30px;
  padding-right : 15px;
}

.heading08{
	position:relative;
	margin:0 10px;
	padding:0 10px 0 55px;
	z-index:1;
}

.heading08:before{
	content:" ";
	position:absolute;
	top:0;
	left:0;
	width:38px;
	height:38px;
	border-right:#ffffff solid 0px;
	background:#d6e9ca;
    background-image: -webkit-gradient(linear, left top, left bottom,
			from(			 rgba(255, 255, 255, 0.0)),
			color-stop(0.20, rgba(255, 255, 255, 0.0)),
			color-stop(0.20, rgba(255, 255, 255, 0.1)),
			color-stop(0.40, rgba(255, 255, 255, 0.1)),
			color-stop(0.40, rgba(255, 255, 255, 0.3)),
			color-stop(0.60, rgba(255, 255, 255, 0.3)),
			color-stop(0.60, rgba(255, 255, 255, 0.5)),
			color-stop(0.80, rgba(255, 255, 255, 0.5)),
			color-stop(0.80, rgba(255, 255, 255, 0.6)),
			to(				 rgba(255, 255, 255, 0.6))
			);
	background-image: -webkit-linear-gradient(top,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
	background-image: -moz-linear-gradient(top,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
	background-image: -o-linear-gradient(top,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
	background-image: linear-gradient(to bottom,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
			z-index:-1;
}

.heading08:after{
	content:" ";
	position:absolute;
	top:0;
	left:0;
	width:38px;
	height:38px;
    background-image: -webkit-gradient(linear, left top, right top,
			from(			 rgba(255, 255, 255, 0.0)),
			color-stop(0.20, rgba(255, 255, 255, 0.0)),
			color-stop(0.20, rgba(255, 255, 255, 0.1)),
			color-stop(0.40, rgba(255, 255, 255, 0.1)),
			color-stop(0.40, rgba(255, 255, 255, 0.3)),
			color-stop(0.60, rgba(255, 255, 255, 0.3)),
			color-stop(0.60, rgba(255, 255, 255, 0.5)),
			color-stop(0.80, rgba(255, 255, 255, 0.5)),
			color-stop(0.80, rgba(255, 255, 255, 0.6)),
			to(				 rgba(255, 255, 255, 0.6))
			);
	background-image: -webkit-linear-gradient(left,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
	background-image: -moz-linear-gradient(left,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
	background-image: -o-linear-gradient(left,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
	background-image: linear-gradient(to right,
			transparent 20%,
			rgba(255, 255, 255, 0.1) 20%,
			rgba(255, 255, 255, 0.1) 40%,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0.5) 60%,
			rgba(255, 255, 255, 0.5) 80%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.6) 100%
			);
			z-index:-1;
}

.STYLE1 {
	font-size: xx-large;
	font-weight: bold;
}

.STYLE2 {
	font-size: x-large;
	font-weight: bold;
}

.STYLE3 {
	font-size:large;
}

.STYLE4 {
	color: #c9171e;
	font-weight: bold;
}